<%- include('../layouts/header.ejs')  %>

<div class="container">
    <h2 class="text-center mb-4">Update User Details</h2>
    <br>
    <img src="/userImages/<%= user.image %>" height="100" width="100" alt="">
    <form action="" method="post" enctype="multipart/form-data">
      <!-- Name -->
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" value="<%= user.name %>" name="name" required>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" value="<%= user.email %>" name="email" required>
      </div>

      <!-- Mobile -->
      <div class="form-group">
        <label for="mobile">Mobile:</label>
        <input type="tel" class="form-control" value="<%= user.mobile %>" name="mobile" required>
      </div>

      <!-- Profile Image -->
      <div class="form-group">
        <label for="image">Profile Image:</label>
        <input type="file" class="form-control-file"  name="image" accept="image/*">
      </div>

      <input type="hidden" name="id" value="<%= user._id %>">

      

      <button type="submit" value="edit" class="btn btn-primary btn-block">Edit User</button>
    </form>
    <br>
  <a href="/admin/dashboard">Go to Dashboard</a>
  </div>
  
     

<%- include('../layouts/footer.ejs')  %>


