<%- include('../layouts/header.ejs') %>
    <div class="container">
        <h2 style="text-align: center;">Welcome <%= user.name %>
        </h2>
        <img src="userImages/<%= user.image %>" height="200" width="200" alt="">
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <!-- <th>Profile Image</th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.mobile %>
                    </td>
                    <td>
                        <a href="/edit?id=<%= user._id %>">Edit</a>
                        <!-- <a href="/delete?id=">Delete</a> -->
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/logout">Logout</a>
    </div>

<%- include('../layouts/footer.ejs') %>